<?xml version="1.0" encoding="UTF-8"?>
<model>
    <name>iCubGazeboV2_5 (additional_sole_frames)</name>
    <version>1.0</version>
    <sdf version='1.7'>model.urdf</sdf>
    <author>
        <name>Giulio Romualdi</name>
        <email>giulioromualdi@iit.it</email>
    </author>
    <description>Model for the iCub humanoid robot with additional frames on the soles</description>
</model>
